body {
  margin: 0;
  background-color: black;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.9fr 2fr 1.92fr; /* Adjust third column to be smaller */
}

#projects-div, #tasks-div {
  position: relative;
  border-right: 1px solid white;
  overflow-y: auto; /* Only shows scrollbar if needed */
  scrollbar-gutter: stable; /* Reserves space for scrollbar to avoid width shifts */
}

#task-desc-div {
  overflow-y: hidden; /* Ensures no scrollbar on the third div */
}

#projects-div {
  position: relative;
  padding: 1rem 0.8rem 0;
  display: grid;
  gap: 1.5rem;
  grid-template-rows: auto 1fr max-content;
  user-select: none;
}

#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

#todo-logo {
  height: 7rem;
}

#todo-list-logo {
  filter: invert(1);
  height: 5rem;
  width: auto;
  padding-top: 1rem;
}

#project-list-div {
  display: grid;
  align-items: center;
  grid-auto-rows: 5vh;
  gap: 2.5rem;
  width: 100%;
}

.project-card, .task-card {
  background-color: white;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 3rem;
  width: 100%;
  cursor: pointer;
}

.project-buttons-div, .task-buttons-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.project-buttons-div > button, .task-buttons-div > button, .task-status-button {
  height: 1.5rem;
  width: 1.5rem;
}

#add-project-button, #add-task-button {
  all: unset;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
  width: calc(100% + 17px);
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  border-top: 1px solid white;
  padding: 0.5rem 0;
  cursor: pointer;
}

#add-project-button:active, #add-task-button:active {
  color: gray;
}

#tasks-div {
  position: relative;
  padding: 1rem 0.8rem 0;
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 1fr max-content;
  user-select: none;
}

.task-title-and-status-div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 30%;
}

.task-buttons-div {
  width: 20%;
}

#add-task-button {
  visibility: hidden;
}

#add-task-dialog {
  display: grid;
  border: white solid 2px;
  background-color: gray;
  border-radius: 15px;
  visibility: hidden;
  grid-template-rows: 1fr 5fr;
  height: 50vh;
  width: 35vw;
  z-index: 9999;
}

#add-task-dialog > p {
  font-size: 20px;
  font-weight: 600;
  justify-self: center;
  padding: 0;
}

#add-task-dialog > form {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  gap: 1rem;
}

#task-title-form, #task-desc-form, #task-date-form {
  display: grid;
  grid-template-rows: max-content 1fr;
}

#task-priority-form {
  display: grid;
  gap: 3vw;
  grid-template-columns: max-content max-content max-content;
}

#task-priority-date-form-div, #task-dialog-buttons {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}

::backdrop {
  backdrop-filter: blur(2px);
}