body {
  margin: 0;
  background-color: black;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.9fr 2fr 1.92fr; /* Adjust third column to be smaller */
}

#projects-div, #tasks-div {
  position: relative;
  border-right: 1px solid white;
  overflow-y: auto; /* Only shows scrollbar if needed */
  scrollbar-gutter: stable; /* Reserves space for scrollbar to avoid width shifts */
}

#task-desc-div {
  overflow-y: hidden; /* Ensures no scrollbar on the third div */
}

#projects-div {
  position: relative;
  padding: 1rem 0.8rem 0;
  display: grid;
  gap: 2rem;
  grid-template-rows: auto 1fr max-content;
  user-select: none;
}

#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#todo-logo {
  height: 7rem;
}

#todo-list-logo {
  filter: invert(1);
  height: 5rem;
  width: auto;
  padding-top: 1rem;
}

#project-list-div {
  display: grid;
  align-items: center;
  grid-template-rows: 5vh;
  width: 100%;
}

.project-card {
  background-color: white;
  box-sizing: border-box;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 3rem;
  width: 100%;
}

.project-buttons-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.project-buttons-div > button {
  height: 1.5rem;
  width: 1.5rem;
}

#add-project-button {
  all: unset;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2rem;
  width: calc(100% + 17px);
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  border-top: 1px solid white;
  padding: 0.5rem 0;
  cursor: pointer;
}

#add-project-button:active {
  color: gray;
}
