<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      visibility: hidden;
    }
  </style>

</head>
<body>
<div id="projects-div">

  <div id="logo-div">
    <img id="todo-logo" src="../Assets/Icons/todo_aoi_logo.png" alt="logo-img">
    <img id="todo-list-logo" src="../Assets/Icons/todo_list_logo.png" alt="todo-list">
  </div>

  <div id="project-list-div">
    <div class="project-card">
      <div class="project-title">Default</div>
      <div class="project-buttons-div">
        <button class="project-edit-button"></button>
        <button class="project-delete-button"></button>
      </div>
    </div>
  </div>
  <button id="add-project-button">Add Project</button>
</div>


<div id="tasks-div">
</div>


<div id="task-desc-div">
</div>
</body>
</html>